<br>
<footer id="mcolor" class="page-footer backcolor">
    <div class="container">
        <div class="row flex">
            <div id="btmspacer" class="col s12 l6">
                <h5>Luwinski's Pizzeria</h5>
                <div class="container">
                    <p>1234 Pizza Ave</p>
                    <p>Pizzeria, NY 14236</p>
                    <p>123-456-7890</p>
                </div>
            </div>

            <div id="footer-social" class="col s12 l4 offset-l2">
                <h5>Follow Us</h5>
                <ul class="footer flex-footer">
                    <li>
                        <!-- Add Social Media Icons -->
                        <a href="#!" class="btn-floating btn-social">
                            <i class="small fab fa-facebook-f"></i>
                        </a>
                        <p>Luwinski's Pizzeria</p>
                    </li>
                    <li>
                        <a href="#!" class="btn-floating btn-social">
                            <i class="small fab fa-instagram"></i>
                        </a>
                        <p>Luwinski's_Pizzeria</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright by Victor Czar Ivansky Inc.
        </div>
    </div>
</footer>
